*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul {
list-style: none;
}
a {
text-decoration: none;
outline: none;
}
img {
display: block;
width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Playfair Display';
font-weight: normal;
letter-spacing: 1px;
}
body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 14px;
line-height: 1;
color: #373737;
background: #f7f7f7;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
} 
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
margin: 0 auto;
width: 100%;
max-width: 960px;
padding: 0 15px;
} 
header {
width: 100%;
background: white;
box-shadow: 3px 3px 1px rgba(0,0,0,.05);
padding: 15px 0;
margin-bottom: 30px;
position: relative;
}
/* логотип */
.logo {
display: block; 
float: left;
}
.logo span {
color: white;
display: inline-block;
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 30%;
margin: 5px 0;
text-align: center;
text-shadow: 2px 2px 1px rgba(0,0,0,.4);
}
.logo span:nth-child(1) {
background: #DC143C	;
}
.logo span:nth-child(2) {
background: #FFA500	;
}
.logo span:nth-child(3) {
background: #FFD700	;
}
.logo span:nth-child(4) {
background: #008000	;
}
.logo span:nth-child(5) {
background: #00CED1	;
}
.logo span:nth-child(6) {
background: #0000FF	;
}
.logo span:nth-child(7) {
background: #8A2BE2;
}
/* меню */
#menu {
float: right;
}
#menu li {
display: inline-block;
margin-right: 30px;
}
#menu a {
color: #111;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 600;
display: block;
line-height: 40px;
}
#menu a:hover {
color: #EF5A42;
}
#menu li:last-child  {
margin-right: 0;
}







table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;




border: 1px solid #000;

margin: auto;


font-size: 14px;
border-collapse: collapse;
text-align: left;

width: 65%;
height:350px;
}
th, td:first-child {
background: #F8B763;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 2px 5px 0;
border-color: white;
}
td {
background: #d8d7be;
}
th:first-child, td:first-child {
text-align: left;
}
footer{
  position: absolute;
  padding: 25px 0;                    
background: #3C3D41;
color: black;
  left: 0;
  bottom: 0;
  width: 100%;
} 
.footer-col {
width: 33.3333333333%;
float: left;
}
.footer-col a {
color: white;
}
.footer-col:last-child {
text-align: right;
}
