*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul {
list-style: none;
}
a {
text-decoration: none;
outline: none;
}
img {
display: block;
width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Playfair Display';
font-weight: normal;
letter-spacing: 1px;
}
body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 14px;
line-height: 1;
color: #373737;
background: #f7f7f7;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
} 
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
margin: 0 auto;
width: 100%;
max-width: 960px;
padding: 0 15px;
} 
header {
width: 100%;
background: white;
box-shadow: 3px 3px 1px rgba(0,0,0,.05);
padding: 15px 0;
margin-bottom: 30px;
position: relative;
}
/* логотип */
.logo {
display: block; 
float: left;
}
.logo span {
color: white;
display: inline-block;
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 30%;
margin: 5px 0;
text-align: center;
text-shadow: 2px 2px 1px rgba(0,0,0,.4);
}
.logo span:nth-child(1) {
background: #DC143C ;
}
.logo span:nth-child(2) {
background: #FFA500 ;
}
.logo span:nth-child(3) {
background: #FFD700 ;
}
.logo span:nth-child(4) {
background: #008000 ;
}
.logo span:nth-child(5) {
background: #00CED1 ;
}
.logo span:nth-child(6) {
background: #0000FF ;
}
.logo span:nth-child(7) {
background: #8A2BE2;
}
/* меню */
#menu {
float: right;
}
#menu li {
display: inline-block;
margin-right: 30px;
}
#menu a {
color: #111;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 600;
display: block;
line-height: 40px;
}
#menu a:hover {
color: #EF5A42;
}
#menu li:last-child  {
margin-right: 0;
}




.contact__from{
  text-align: center;

}
form p{
  text-align: left;
}
.contact__from h1{
  color:#000;
  margin-bottom:30px; 
}
.contact__from h1,p{
  text-align:center;

}

.contact__from{
  padding: 70px 0px 100px 0px;

}

.contact__wrapper {
  width: 753px;
  margin: 0 auto;
  color:#000;
}
.red{
  color:red;
}
.form__inputs{
  display: flex;
  padding: 15px;
}
input {
  width: 360px;
  height: 40px;
  font-size:20px;
  margin-bottom: 30px;

}
input:first-of-type {
  margin-right:24px;
}
textarea{
  width:100%;
  height: 163px;
}
input, textarea{
  border:1px solid #999999;
  margin-top:5px; 
}

.button__block{
  display:flex;
  justify-content: flex-end;



}

input[type=submit]{
  width: 165px;
  height: 40px;
  background: #F8B763;
  color:#fff;
  margin-right:0;
  margin-top: 20px; 
}

