/*дефолтная верстка*/
*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul {
list-style: none;
}
a {
text-decoration: none;
outline: none;
}
img {
display: block;
width: 100%;
}
h1, h2,h3, h5, h6 {
font-family: 'Playfair Display';
font-weight: normal;
letter-spacing: 1px;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
content: "";
display: table;
clear: both;
} 
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
margin: 0 auto;
width: 100%;
max-width: 960px;
padding: 0 15px;
} 
header {
width: 100%;
background: white;
box-shadow: 3px 3px 1px rgba(0,0,0,.05);
padding: 15px 0;
margin-bottom: 30px;
position: relative;
}
/* логотип */
.logo {
display: block; 
float: left;
}
.logo span {
color: white;
display: inline-block;
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 30%;
margin: 5px 0;
text-align: center;
text-shadow: 2px 2px 1px rgba(0,0,0,.4);
}
.logo span:nth-child(1) {
background: #DC143C ;
}
.logo span:nth-child(2) {
background: #FFA500 ;
}
.logo span:nth-child(3) {
background: #FFD700 ;
}
.logo span:nth-child(4) {
background: #008000 ;
}
.logo span:nth-child(5) {
background: #00CED1 ;
}
.logo span:nth-child(6) {
background: #0000FF ;
}
.logo span:nth-child(7) {
background: #8A2BE2;
}
/* меню */
#menu {
float: right;
}
#menu li {
display: inline-block;
margin-right: 30px;
}
#menu a {
color: #111;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 600;
display: block;
line-height: 40px;
}
#menu a:hover {
color: #EF5A42;
}
#menu li:last-child  {
margin-right: 0;
}





/*Верстка регистрации*/
body {
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(s1200.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Playfair Display';
}
.new_article{
  position: relative;
  min-height: 100%;
  width: 753px;
  margin: 0 auto;
  color:#fff;

}

h4{
text-align: center;
font-weight: normal;
letter-spacing: 1px;
color: #fff;
}
body h1{
text-align: center;
font-weight: normal;
letter-spacing: 1px;
color: #fff;
}
textarea {
    width: 100%; /* Ширина поля в процентах */
    height: 100px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
    font-family: 'Playfair Display';
    text-align: center;
   } 
.input-form {
  margin: 15px 40px;
}

.input-form input {
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  background: none;
  outline: none;
  border: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
  border: 1px solid #0fc3f5;
}

.input-form input[type="submit"] {
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: #ffc351;
  transition: .3s;
}

.input-form input[type="submit"]:hover {
  background: #EF5A42;
}


form{
  margin-top:30px;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  background: none;
  outline: none;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: rgba(251,193,135,.7);
}
/*footer {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 80px;
margin-top:100px;
padding: 30px 0;
background: #3C3D41;
color: white;
}*/

.input-form::-webkit-input-placeholder       
{text-indent: 0px;   transition: text-indent 0.3s ease;}
.input-form::-moz-placeholder                
{text-indent: 0px;   transition: text-indent 0.3s ease;}
.input-form:-moz-placeholder                 
{text-indent: 0px;   transition: text-indent 0.3s ease;}
.input-form:-ms-input-placeholder           
 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input-form:focus::-webkit-input-placeholder 
{text-indent: 500px; transition: text-indent 0.3s ease;}
.input-form:focus::-moz-placeholder          
{text-indent: 500px; transition: text-indent 0.3s ease;}
.input-form:focus:-moz-placeholder          
 {text-indent: 500px; transition: text-indent 0.3s ease;}
.input-form:focus:-ms-input-placeholder      
{text-indent: 500px; transition: text-indent 0.3s ease;}



.footer-col {
width: 33.3333333333%;
float: left;
}
.footer-col a {
color: white;
}
.footer-col:last-child {
text-align: right;
}





/**/
.post-footer {
border-top: 1px solid #EBEBE3;
border-bottom: 1px solid #EBEBE3;
position: relative;
margin-top: 25px;
margin:20px;

}